# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or PyCharm settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment files
.env
.venv/
venv/
*.log

# MacOS
.DS_Store